<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Publication</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>What are you going to do?</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="publication.text" name="text" #text="ngModel" type="text-area" required>
    </ion-textarea>
  </ion-item>
  <ion-item>
    <input type="file" name="file" id="file" class="fileInput" (change)="fileChangeEvent($event)" />
    <label for="file">
      <ion-icon name="images"></ion-icon> Upload file
    </label>
  </ion-item>
  <div id="map"></div>
</ion-content>