<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="success">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="following">
  <ion-list>
    <ion-list-header>
      People
    </ion-list-header>

    <ion-item *ngFor="let follow of following">
      <ion-avatar slot="start">
        <img (click)="loadUser(follow.followed)" *ngIf="follow.followed.image" src="{{url + '/get-image-user/'+ follow.followed.image}}">
        <img (click)="loadUser(follow.followed)" *ngIf="!follow.followed.image" src="../../assets/no-user.webp">
      </ion-avatar>
      <ion-label>
        <h2 (click)="loadUser(follow.followed)">{{follow.followed.name + ' ' + follow.followed.surname}}</h2>
        <h3 (click)="loadUser(follow.followed)">{{follow.followed.nick}}</h3>
        <p (click)="loadUser(follow.followed)">{{follow.followed.email}}</p>
        <div class="followButton" *ngIf="follow.followed._id != identity._id">
          <ion-button color="success" (click)="followUser(follow.followed._id)" *ngIf="follows.indexOf(follow.followed._id) < 0">
            <ion-icon name="add-circle-outline"></ion-icon> &nbsp; Follow
          </ion-button>
          <ion-button ion-button [color]="follow.followed._id == followUserOver ? 'primary' : 'secondary'"
            (mouseover)="mouseEnter(follow.followed._id)" (mouseleave)="mouseLeave(user._id)"
            *ngIf="follows.indexOf(follow.followed._id) >= 0" (click)=unfollowUser(follow.followed._id)>
            <span *ngIf="user._id == followUserOver;else following">
              <ion-icon name="close-circle-outline"></ion-icon> &nbsp; Unfollow
            </span>
            <ng-template #following>
              <ion-icon name="checkmark-circle-outline"></ion-icon> &nbsp; Following
            </ng-template>
          </ion-button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list> 
</div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>