<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>Back
      </ion-button>
    </ion-buttons>
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
    <ion-item>
      <ion-label>For:</ion-label>
      <ion-select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
        <ion-select-option *ngFor="let follow of follows" value="{{follow.user._id}}">{{follow.user.name + ' ' + follow.user.surname + ' (' + follow.user.nick + ')'}}</ion-select-option>
      </ion-select>
    </ion-item>
    
   <!--  <ion-list>
      <ion-list-header>
        For:
      </ion-list-header>
      <ion-item *ngIf="follows">
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <ion-label>
          <h2>Finn</h2>
          <h3>I'm a big deal</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
    </ion-list> -->
    <ion-item>
      <ion-label position="floating">Message:</ion-label>
      <ion-textarea name="text" #text="ngModel" [(ngModel)]="message.text" required></ion-textarea>
      <span *ngIf="!text.valid && text.touched">The message is required</span>
    </ion-item>
    <ion-button type="submit" color="primary">
      Send
    </ion-button>
  </form>

</ion-content>
