<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="sendPage()">
    <ion-label>
      Send
    </ion-label>
  </ion-item>

  <ion-item button (click)="receivedPage()">
    <ion-label>
      Sended
    </ion-label>
  </ion-item>

  <ion-item button (click)="sendedPage()">
    <ion-label>
      Received
    </ion-label>
  </ion-item>
</ion-content>