<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>Back
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-item>
      <ion-avatar slot="start">
        <img *ngIf="user.image" src="{{url + '/get-image-user/'+ user.image}}">
        <img *ngIf="!user.image" src="../../assets/no-user.webp">
      </ion-avatar>
      <ion-label>
        <ion-button color="light" *ngIf="followed">Te sigue</ion-button>
        <h3>{{user?.name +' '+ user?.surname}}</h3>
        <h3>{{user?.nick}}</h3>
      </ion-label>
      <ion-button *ngIf="!following" color="success" (click)="followUser(user._id)">Follow</ion-button>
      <ion-button *ngIf="following" color="primary" (click)="unfollowUser(user._id)" (mouseenter)="mouseEnter(user._id)"
        (mouseleave)="mouseLeave()" [color]="user._id == followUserOver ? 'primary' : 'secondary'">
        <span *ngIf=" user._id==followUserOver; else following">
        Unfollow
        </span>
        <ng-template #following>
          Following
        </ng-template>
      </ion-button>
    </ion-item> -->
  <ion-button (click)="loadmap()">Maps</ion-button>
    <div id="container" *ngFor="let publication of publications;let i = index" (click)="openPublication(publication)">
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img *ngIf="publication.user.image" src="{{url + '/get-image-user/' + publication.user.image}}">
            <img *ngIf="!publication.user.image" src="../../assets/no-user.webp">
          </ion-avatar>
          <ion-label>
            <h3>{{publication?.user.name +' '+ publication?.user.surname+ ' '}}|
              &nbsp;{{'  ' +publication?.created_at | date}}</h3>
            <h3>{{publication?.text}}</h3>
            <h3>{{publication?.date}}</h3>
            <!-- <ion-button slot="end" (click)="delete(publication._id)">ASD</ion-button> -->
          </ion-label>
        </ion-item>

        <ion-card-content>
          <!-- Poner el archivo para descargar -->
          <div id="{{'map'+i}}" style="max-width:500px; height:300px"></div>
        </ion-card-content>
      </ion-card>
    </div>
  

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>