<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="publications">
    <div id="container" *ngFor="let publication of publications;let i = index">
      <ion-card>
        <ion-item>
          <ion-avatar slot="start" (click)=openUser(publication.user)>
            <img *ngIf="publication.user.image" src="{{url + '/get-image-user/' + publication.user.image}}">
            <img *ngIf="!publication.user.image" src="../../assets/no-user.webp">
          </ion-avatar>
          <ion-label>
            <h3>{{publication?.user.name +' '+ publication?.user.surname+ ' '}}|
              &nbsp;{{'  ' +publication?.created_at | date}}</h3>
            <h3>{{publication?.text}}</h3>
            <h3>Date of exit: {{times[i]?.date | date}} &nbsp; {{ times[i]?.hour}}</h3>
            <!-- <ion-button slot="end" (click)="delete(publication._id)">ASD</ion-button> -->
          </ion-label>
        </ion-item>
        <ion-card-content (click)="openPublication(publication, times[i])">
          <div id="{{'map'+i}}" style="max-width:500px; height:300px"></div>
        </ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              <ion-button *ngIf="!checkIfExists(publication)" (click)=like(publication)>Subscribe </ion-button>
              <ion-button style="color:white" color="warning" *ngIf="checkIfExists(publication)" (click)=dislike(publication)>Unsubscribe </ion-button>
            </ion-col>
            <ion-col>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>
    </div>
  
  <div id="container-no-exits" *ngIf="publications.length == 0">
    <strong>You have no publications</strong>
    <p>You can create them or follow people to see them</p>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="addPublication()">
    <ion-fab-button color="medium">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>