<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Publication</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>What are you going to do?</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="publication.text" name="text" #text="ngModel" type="text-area" required>
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>Time of exit</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="time" value="1990-02-19T07:43Z"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Date of the activity</ion-label>
    <ion-datetime value="1990-02-20" placeholder="Select Date" [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <div id="map"></div>
</ion-content>